*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #2f4f4f;
  --main-bg-color: #fff;
  --bg-image: no-repeat
    url("assets/images/nate-rayfield-_WR6tUIAJe8-unsplash.jpg");
  --card-height: 562px;
  --card-width: 962px;
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --text-field-width: 270px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--bg-image);
  background-position: bottom;
  background-size: cover;
  font-family: var(--font-stack);
}

input {
  width: var(--text-field-width);
  height: 30px;
  border: 1px solid grey;
  padding: 0 10px;
}
label {
  font-size: 0.8rem;
}

input[type="text"] {
  transition: all 0.5s ease-in-out;
}

main {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--main-bg-color);
}

main .bg-image {
  min-height: 100%;
  width: 40%;
  background: var(--bg-image);
  background-position: bottom;
  background-size: cover;
  border-radius: inherit;
  position: relative;
  border: 6px solid #fff;

  & .logo-part {
    color: #fff;
    font-size: 4rem;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 60px;
    text-align: center;
  }

  & .credits {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    /* link to image source */
    & a {
      color: inherit;
    }
  }
}

main .form-section {
  background-color: var(--main-bg-color);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  & .heading {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    /* the odin logo */
    & img {
      width: 80px;
      aspect-ratio: 1/1;
      filter: invert(100%);
    }
  }
}

main .form-section form {
  height: 80%;
}

main .form-section form .input-boxes {
  display: flex;
  flex-direction: column;
  min-height: 40%;
  gap: 20px;
  margin-top: 40px;

  & .form-column {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
  }
}

.input-div {
  position: relative;
  background-color: blue;
  width: var(--text-field-width);
  margin-bottom: 1.8rem;
}

.input-div input {
  position: absolute;
  top: 0;
  left: 0;
}

.input-div label {
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  color: gray;
}

.input-div input:focus + label,
.input-div input:not(:placeholder-shown) + label{
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.6rem;
  background-color: #fff;
  color: black;
}
