*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #2f4f4f;
  --main-bg-color: #fff;
  --bg-image: no-repeat
    url("assets/images/nate-rayfield-_WR6tUIAJe8-unsplash.jpg");
  --card-height: 562px;
  --card-width: 962px;
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--bg-image);
  background-position: bottom;
  background-size: cover;
  font-family: var(--font-stack);
}

main {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--main-bg-color);
}

main .bg-image {
  min-height: 100%;
  width: 40%;
  background: var(--bg-image);
  background-position: bottom;
  background-size: cover;
  border-radius: inherit;
  position: relative;
  border: 6px solid #fff;

  & .logo-part {
    color: #fff;
    font-size: 4rem;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 60px;
    text-align: center;
  }

  & .credits {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;

    & a {
      color: inherit;
    }
  }
}

main .form-section {
  background-color: var(--main-bg-color);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;

  /* the odin logo */
  & img {
    height: 80px;
    aspect-ratio: 1/1;
    filter: invert(100%);
  }
}
